<div class="box main">
    
    <h1>Choose an operation</h1>

    <button (click)="select_entity()" *ngIf="stateOfPage=='default'  || stateOfPage=='list'"  > List Operation </button>
    
    <div class="table" *ngIf="stateOfPage=='list'" >
        <table>
            <tr>
                <th></th>
                <th *ngFor="let header of headers">{{ header }}</th>
            </tr>
              <tr *ngFor="let property of properties">
                <td style="padding : 10px"><button (click)="update_entity(property.id)"> Edit </button></td>
                <td *ngIf="property.owner">{{ property.owner.name  }} {{property.owner.lastName }}</td>
                <td>{{ property.name      }}</td>
              </tr>
        </table>
    </div>

    <button  *ngIf="stateOfPage=='default' || stateOfPage=='insert'" (click)="insert_entity()"> Insert Operation  </button>
    <div class="box"  *ngIf="stateOfPage=='insert' || stateOfPage=='update'" >
        <form class="user-form" action="" id="userForm" [formGroup]="userForm">

            <input type="text" name="name"      placeholder="name"      formControlName="Name"/>
            <select  formControlName="OwnerID" >
                <option ngValue="" select disabled *ngIf="" >Select the profile </option>
                <option ngValue="{{owner.id}}"  *ngFor="let owner of ownersProducer">{{ owner.name }} {{ owner.lastName }}</option>
            </select>
       
            <button [disabled]="!userForm.valid"    *ngIf="stateOfPage=='insert'" (click)="insert_entity()"     >Insert</button>
            <button [disabled]="!userForm.valid"    *ngIf="stateOfPage=='update'" (click)="update_entity()"     >Update</button>
            <button                                 *ngIf="stateOfPage=='update'" (click)="deactivate_entity()" >Deactivate</button>
            <button                                 *ngIf="stateOfPage=='update'" (click)="cancel_update()"     >Cancel</button>

        </form>



    </div>

    <button routerLink="/"  *ngIf="stateOfPage=='default'"> Back to homepage </button>

    
</div>